*{margin: 0; padding: 0; border: 0;}
html, body {width: 100%; height: 100%;}
input {outline-style: none;}


.feedBack {
    display: none;
    position: fixed;
    right: 0px;
    bottom: 50px;
    width: 350px;
    height: 400px;
    z-index: 2;
    border-radius: 0 40px 0 0;
    transform: translate(326px, 40px) rotate(-90deg) scale(0.65);
    transition: all ease 0.3s;
}
.feedBack.active {
    box-shadow: 0px -5px 45px rgba(131, 130, 130, 0.8);
    transition: all ease 0.3s;
    transform: none;
}
.feedBack::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 40px 0 0;
    background: rgb(130, 130, 130, 0.5) url(./img/icon/tenor.gif)center/50px no-repeat;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
}
.feedBack._sending::after {
    opacity: 1;
    visibility: visible;
}
.close__btn {
    display: none;
    position: absolute;
    left: -40px;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all ease 0.3s;
    background: url(./img/icon/x-mark.svg)0 0/contain no-repeat;
}
.close__btn:hover {
    transition: all ease 0.3s;
    transform: scale(1.2);
}
.close__btn.active {
    display: block;
}
.form__body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.feedBack_header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 45px;
    background: rgb(55, 56, 116);
    border-radius: 0 40px 0 0;
    cursor: pointer;
}
.feedBack_header img {
    width: 31px;
    margin: 0 10px;
}
.feedBack_header span {
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.feedBack_body {
    display: flex;
    flex: 1 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
    background: rgb(241, 241, 241);
    overflow: auto;
}
.feedBack_body::-webkit-scrollbar {
    width: 8px;
}
.feedBack_body:hover::-webkit-scrollbar-track {
    background: rgb(227, 227, 227);
}
.feedBack_body:hover::-webkit-scrollbar-thumb {
    background: rgb(170, 170, 170);
    border-radius: 5px;
}
.feedBack_body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(140, 140, 140);
}
.admin_writed, .user_writed {
    display: flex;
    flex-direction: column;
}
.admin_writed {
    align-items: flex-start;
}
.user_writed {
    align-items: flex-end;
}
.user_writed img {
    max-height: 100px;
    max-width: 150px;
    margin: 8px 0;
}
.admin_writed p, .user_writed p {
    display: inline-block;
    max-width: 200px;
    background: rgb(211, 208, 208);
    border-radius: 8px;
    padding: 10px;
    margin: 0 0 8px 0;
    overflow: hidden;
}
.user_writed p {
    background: rgb(182, 182, 182);
}
.writing__tools {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    border-top: 1px solid rgb(172, 172, 172);
    min-height: 70px;
    background: rgb(245, 245, 245);
    padding: 0 10px 0 10px;
}
.writing__tools::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(219, 219, 219, 70%);
    visibility: hidden;
}
.writing__tools._close::before{
    visibility: visible;
}
.show_picture {
    position: relative;
    text-align: center;
    max-height: 50px;
    max-width: 80px;
    margin: 5px 0;
    border: 1px solid rgb(146, 146, 146);
    transition: all ease 0.3s;
    transform: scale(0);
}
.delete_picture {
    content: "";
    position: absolute;
    top: -7px;
    right: -12px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background: url(./img/icon/x-mark.svg)0 0/contain no-repeat;
}
.chosen_picture {
    height: 100%;
    width: 100%;
}
.chosen_picture img {
    max-height: 100%;
    max-width: 100%;
}
.writing {
    display: flex;
    align-items: center;
    margin: 0 0 10px 0;
}
.feedBack #file {
    font-size: 0;
    opacity: 0;
}
.feedBack .file {
    height: 20px;
    width: 20px;
    cursor: pointer;
    background: url(./img/icon/image.svg)0 0/contain no-repeat;
}
.write_message {
    width: 73%;
    height: 40px;
    border: 1px solid rgb(172, 172, 172);
    border-radius: 8px;
    font-size: 18px;
    padding: 0 10px;
    margin: 0 5px 0 5px;
}
.feedBack input::placeholder {
    font-size: 14px;
}
.feedBack input {
    border-radius: 5px;
    padding: 0 0 0 5px;
}
.send__message {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    background: rgb(67, 184, 52) url(./img/icon/right-arrow.svg)center/40% no-repeat;
    outline-style: none;
    cursor: pointer;
}
.send__message:active {
    transform: scale(0.9);
}
.send__message img {
    width: 15px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.message_register_list {
    display: none;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}
.message_register_list span {
    color: rgb(99, 99, 99);
}
.form__register {
    padding: 15px 10px 0 10px;
    margin: 15px 0 0 0;
    border-top: 2px solid rgb(67, 184, 52);
    border-radius: 10px 10px 0 0;
}
.form__register input {
    width: 100%;
    height: 30px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgb(175, 175, 175);
}
.form__register input:hover {
    border-bottom: 1px solid rgb(67, 184, 52);
}
.form__register input._error {
    border-bottom: 1px solid rgb(221, 31, 31);
}
.form__register label {
    position: relative;
}
.form__register label._error::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background: url(./img/icon/error.svg)0 0/contain no-repeat;
}
.form__register label.ok::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    background: url(./img/icon/checked.svg) 0 0/100%;
}
.register_list_btn {
    height: 35px;
    line-height: 32px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background: rgb(67, 184, 52);
    cursor: pointer;
    font-size: 15px;
}
.register_list_btn:hover {
    background: rgb(50, 155, 36);
}
@media(max-width: 838px) {
    .feedBack {
        display: block;
        left: 0;
        top: 120%;
        width: 100%;
        height: 100%;
        border-radius: 0 0 0 0;
        transform: none;
    }
    .feedBack.active {
        top: 0;
    }
    .feedBack::after {
        border-radius: 0;
    }
    .feedBack .form__body {
        width: 100%;
        height: 100%;
    }
    .feedBack_header {
        border-radius: 0;
        padding: 0 5px 0 5px;
    }
    .feedBack_header::before {
        content: "";
        position: fixed;
        bottom: 20px;
        right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: rgb(55, 56, 116) url(./img/icon/messages-silhouette.svg)center/26px no-repeat;
        box-shadow: 0px 0px 45px rgba(131, 130, 130, 0.8);
    }
    .feedBack_body {
        z-index: 1;
    }
    .close__btn {
        display: block;
        left: 5px;
        top: 7px;
        background: url(./img/icon/left-arrow.svg)0 0/contain no-repeat;
    }
    .feedBack_header img {
        width: 27px;
        margin: 0 10px 0 38px;
    }
}
